<agm-map [latitude]="lat" [longitude]="lng" [zoom]="14">
  <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="myIcon" [markerDraggable]="true" (dragEnd)="dragEnd($event)"></agm-marker>
  <agm-marker *ngFor="let stops of nearestMarkers;" [latitude]="stops.Latitudes" [longitude]="stops.Longitudes" [iconUrl]="busIcon" [markerClickable]="true" (markerClick)="getStopInfo(stops.StopNumber)"></agm-marker>
</agm-map>
<app-modal [modalTitle]="titleSection" [modalBody]="bodySection" [buttonText]="buttonSecion"></app-modal>